* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
	list-style:none;
}

div {
    margin: 0 auto;
}

/* 기본설정 */

/* 폰트 */

/* 프리텐다드 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 어도비 폰트 */
/* font-family: "cooper-black-std", serif;
font-weight: 400;
font-style: normal; */



/* 메인 배너 이미지  */

#main_banner {
    width: 1280px; height: 800px;
     position: relative;


    
}

#main_banner p.logo {
    position: absolute;

    left: 0;
    top: 50px;

    animation: move 2s infinite alternate;
    z-index: 9999999;
   
}

.banner-container {
    width: 1280px;
    height: 800px;
    position: relative;
    overflow: hidden;
}
.slider {
    display: flex;
    width: 3840px; /* 1280px * 3 */
    transition: transform 0.5s ease-in-out;
}
.banner {
    width: 1280px;
    height: 800px;
    background-size: cover;
    background-position: center;
}
.right, .left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    color: #000;
    font-size: 48px;
    padding: 10px 15px;
    cursor: pointer;
}
.right {
    right: 20px;
}
.left {
    left: 20px;
}

/* -------- */



@keyframes move {
     0% {transform: translateY(0)}
     50% {transform: translateY(-20px);}
     100% { transform: translateY(50px)}


}



/* 베스트 제품군 영역 */

#best_section {
     width: 1280px; height: 941px;
     background: #fff;
     text-align: center;
}

#best_section h2 {
     font-size: 50px;
     color: #111;
     letter-spacing: -1px;
     font-weight: normal;
     font-family: 'Cafe24Decobox';

     padding-top: 65px;
}

#best_section ul {
     display: inline-block;
     vertical-align: middle;

     margin-right: 75px;
     margin-top: 100px;
}

#best_section ul li p.img {
     width: 345px; height: 415px;
     

     text-align: left;
}

#best_section ul li.img p.img img { 
    width: 345px; height: 415px;
}

#best_section ul li.img h3 {
    font-size: 20px;
    color: #000;
    letter-spacing: -1px;
    font-weight: normal;
    font-family: 'Pretendard-Regular';

    text-align: left;
    padding-top: 25px;

}

/* 가격표 및 태그  */

#best_section ul li.txt {
    
    text-align: left;
    margin-top: 15px;
}

#best_section ul li.txt p.txt {
    font-size: 28px;
    color: #000;
    letter-spacing: -1px;
    font-weight: normal;
    font-family: 'Pretendard-Regular';

    text-align: left;

}

#best_section ul li p.txt span {
     color: #999;
     font-size: 20px;
     text-decoration: line-through;
     padding-right: 20px;
}

#best_section ul li p.btn1 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;

    text-align: left;
    margin-right: 8px;
}

#best_section ul li p.btn2{
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;

    text-align: left;
    line-height: 20px;
}

#best_section ul li p.btn1, #best_section ul li p.btn2 {
     border: 1px solid #777;
     padding:10px 20px;
     border-radius: 30px;
     
     font-size: 18px;
     letter-spacing: -1px;
     font-family: 'Pretendard-Regular';

     line-height: 20px;


}


/* 이벤트 배너 2종 */

#event_section {
     width: 1280px; height: 1200px;
     
     text-align: center;
}

#event_section h2 {
    font-size: 50px;
    color: #111;
    letter-spacing: -1px;
    font-weight: normal;
    font-family: 'Cafe24Decobox';

    padding-top: 65px;
}



/* all 제품군 영역  */

#all_section {
     width: 1280px; height: 533px;
     background: #fff;
     text-align: center;
}

#all_section h2 {
    font-size: 50px;
    color: #111;
    letter-spacing: -1px;
    font-weight: normal;
    font-family: 'Cafe24Decobox';


}

#all_section ul li {
     display: inline-block;
     vertical-align: middle;
     margin-top: 50px;
     margin-right: 60px;
}

#all_section ul li p {
     width: 250px; height: 300px;
     
}

#all_section ul li p img {
    width: 250px; height: 300px;
}

/* 브랜드 스토리 영역 */

#brand-story {
     width: 1280px; height: 500px;
     background: #fff;

     position: relative;
}

#brand-story p.model {
     position: absolute;


     left: 55px;
     bottom: -5px;
}

#brand-story ul li.logo p {
     position: absolute;

     top: 180px;
     right: 300px;
}

#brand-story ul li p.btn a {
    font-size: 68px;
    color: #000;
    letter-spacing: -2px;
    font-weight: normal;
    font-family: 'Cafe24Decobox';

    position: absolute;

    bottom: 150px;
    right: 150px;

    
    padding: 10px 20px;

    display: inline-block;
}

#brand-story ul li p.btn img {
    position: absolute;

    scale: 1.2;

   bottom: -150px;
    right: 100px;

     animation: move2 3s infinite alternate;
}

@keyframes move2 {
     0% {rotate: 20deg;}
     100% {transform: rotate(360deg);}
}

/* 
공통 하단 영역 카피라이트  */

#copyright {
     width: 1280px; height: 432px;
     background: #111;
     box-sizing: border-box;

     position: relative;
}

#copyright ul {
     width: auto; height: 330px;
     

     display: inline-block;
     vertical-align: middle;
     margin-top: 20px;
}

/* 로고 영역 */

#copyright ul.logo li p.logo {
    position: absolute;

    top: 100px;
    left: 40px;
}


/* 하단 메뉴 영역 */


#copyright ul.down_menu li.down {
     margin-left: 280px;
     margin-top: 30px;
}

#copyright ul.down_menu li.down p {
     display: inline-block;
     vertical-align: middle;

     width: auto; height: 60px;
     

     margin-right: 25px;

}

#copyright ul.down_menu li.down p a {
     font-size: 18px;
     font-weight: bold;
     font-family: 'Pretendard-Regular';
     color: #fff;
     letter-spacing: -1px;
}

/* 하단 주소 및 사업자등록번호 영역 */

#copyright ul.down_menu li.copy {
     position: absolute;

     top: 130px;
     left: 230px;
}

#copyright ul.down_menu li.copy p { 
    display: inline-block;
    vertical-align: middle;

    line-height: 1.7;

    color: #fff;
    font-family: 'Pretendard-Regular';
    letter-spacing: -1px;
    font-size: 18px;

}

#copyright ul.down_menu li.copy p a { 
    font-size: 16px;
    font-family: 'Pretendard-Regular';
}

/* 사업자정보확인 / 지속가능경영보고서 */

#copyright ul.down_menu li.c1 {
     position: absolute;
     
     top: 250px;
     right: 400px;
}

#copyright ul.down_menu li.c1 p {
     display: inline-block;
     vertical-align: middle;
     margin-right: 15px;
}

#copyright ul.down_menu li.c1 p a {
     padding: 10px 10px;
     border:1px solid #fff;

     color: #fff;
     font-family: 'Pretendard-Regular';

}


/* sns 및 고객센터 영역 */

#copyright ul.sns {
     width: 240px; height: 240px;
     
     text-align: center;

     margin-top: -50px;
     margin-left: 40px;
}

#copyright ul.sns p {
    display: inline-block;
    vertical-align: middle;

    text-align: left;

    margin-top: 20px;
    font-family: 'Pretendard-Regular';
    color: #fff;
    font-size: 20px;
}


#copyright ul.sns li p img {
     width: 30px; height: 30px;
    vertical-align: middle;
     
}

#copyright ul.sns li p i {
     padding-right: 10px;
     font-size: 25px;

     color: #fff;
}

#copyright ul.sns h3 {
     text-align: left;

     color: #999;
     font-family: 'Pretendard-Regular';
     font-size: 16px;
     line-height: 1.5;
}

/* 하단 카피 문구  */

#copyright ul.down_copy {
    width: auto; height: 50px;
    text-align: center;
    margin: 0 auto;

}

#copyright ul.down_copy li h2 {
    text-align: center;

    color: #fff;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -1px;
    font-family: 'Pretendard-Regular';

margin-left: 350px;


}
