* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
	list-style:none;
}

div {
    margin: 0 auto;
}

/* 기본설정 */

/* 폰트 */

/* 프리텐다드 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 어도비 폰트 */
/* font-family: "cooper-black-std", serif;
font-weight: 400;
font-style: normal; */


/* 카페24 폰트 */

@font-face {
     font-family: 'Cafe24Decobox';
     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decobox.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
 }

 /* 카페24 동글 글씨 */

 @font-face {
     font-family: 'Cafe24Nyangi-W-v1.0';
     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/Cafe24Nyangi-W-v1.0.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
 }

/* 시스템 폰트 같은 거 */
 @font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 함박눈 폰트 */
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 어도비 본명조 */
@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


 /* ---------------------------------------- */

#wrap_nav {
     width: 100%; height: 100%;
     border-bottom: 3px solid #d20a2e;
}



#nav {
     width: 1280px; height: 120px;
     background: #fff;
     border: none;

     position: sticky;
     z-index: 9999999;

     position: relative;

     display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;

}

#nav ul {
     display: inline-block;
     vertical-align: middle;
}

/* 탑 메뉴 영역 */

#nav ul.top li {
     display: inline-block;
     vertical-align: middle;
   

}

#nav ul.top li a {
     font-size: 24px;
     font-family: 'cooper-black-std';
     letter-spacing: -1px;
     color: #111;

     margin-right: 20px;

     line-height: 120px;
   
}

#nav ul.top li.first {
     margin-left: 30px;
}

#nav ul.top li.logo {
     margin-left: 80px;
     margin-top: 20px;
     scale: 1.2;
}


#nav ul.top li:hover a {
     color: #d20a2e;
     font-weight: bold;
     text-decoration: underline;

}

#nav ul.top li.logo:hover a {
    border-bottom: none;
}

#nav .toggle-menu {
     display: block;
     width: 20px;
     cursor: pointer;
 
     position: absolute;
     top: 0;
     left: 0;
     display: none;
 
 }

 #nav .toggle-menu span {
     display: block;
     width: 100%;
     height: 2px;
     background: red;
 }
 #nav .toggle-menu span:nth-child(2){
     margin: 5px 0;
 }



/* 로그인 마이페이지 영역 */

#nav ul.etc li p {
    display: inline-block;
    vertical-align: middle;
}

#nav ul.etc li p a {
    font-size: 22px;
    font-family: 'Pretendard-Regular';
    letter-spacing: -1px;
    color: #111;
  margin-right: 30px;

    line-height: 120px;
}

#nav ul.etc li p.login {
     margin-left: 120px;
}

#nav ul.etc li p:hover a {
     color: #2d53ce;
     font-weight: bold;
}


/* 공통 상단 부분  */